# 加成类填写
# 按小数填写，即 100% 填写 1， 20% 填写 0.2


政策:
    在线: 2.8
    离线: 4
    住宅: 5.4
    商业: 15
    工业: 18

照片:
    在线: 1.6
    离线: 1.7
    住宅: 3.3
    商业: 3
    工业: 2.4

城市任务:
    在线: 0.2
    离线: 0
    住宅: 0
    商业: 0
    工业: 0

城市任务建筑加成:
    # 住宅
    木屋: 0
    平房: 0
    居民楼: 0
    钢结构房: 0
    花园洋房: 0
    中式小楼: 0
    小型公寓: 0
    人才公寓: 0
    空中别墅: 0
    复兴公馆: 0
    # 商业
    便利店: 0
    五金店: 0
    学校: 0
    服装店: 0
    民食斋: 0
    菜市场: 0
    图书城: 2
    商贸中心: 0
    加油站: 0
    媒体之声: 0
    # 工业
    纺织厂: 0
    零件厂: 0
    水厂: 0
    电厂: 0
    钢铁厂: 0
    木材厂: 0
    食品厂: 0
    造纸厂: 0
    企鹅机械: 0
    人民石油: 0


黑名单:
    复兴公馆
    小型公寓
    电厂

1星:
    复兴公馆
2星:
    媒体之声
    加油站
    人民石油
3星:
    零件厂
    人才公寓
    中式小楼
    民食斋
    花园洋房
    空中别墅
    商贸中心
    纺织厂
    企鹅机械
4星:
    食品厂
    钢结构房
    服装店
    居民楼
    学校
    钢铁厂
    便利店
    电厂
    小型公寓
    图书城
    水厂
5星:
    五金店
    平房
    菜市场
    木屋
    造纸厂
    木材厂
    # 没有
